<!-- main section -->
<header class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <!-- LOGO -->
            <img src="../img/handle-burger-bar.png" alt="Handle Burger Bar logo" title="Handle Burger Bar">
        </div>
        <div class="col">

        </div>
    </div>
</header>

<main id="form" class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-4">
            <!-- Add Burger Form -->
            <h2>Add a Burger</h2>
            <form id="createBurger" class="button-size">
                <textarea type="text" name="burger"></textarea>
                <button type="submit">Save Burger</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</main>
<hr>

<div id="split" class="container">
    <div class="row">
        <div id="Eat" class="col">
            <h3>Burgers to be Eaten</h3>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div id="Eaten" class="col">
            <h3>Burgers I've Eaten</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>