body {
  background-color: #d1603d;
}

hr {
  border-top: 1px solid #fff;
}

#Eat {
  border-right: 1px solid #fff;
}

#Eat,
#Eaten {
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

#Eat ul {
  text-align: left;
}
